.env*
.DS_Store
.git
.github
.husky
.next
.storybook
.vscode
firebase
node_modules
src/__generated__
src/__tests__
src/stories
.eslint*
.firebaserc
.gitignore
.prettier*
.tool-versions
firebase.json
README.md
storage.rules
*.log
vitest*