rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    match /{allPaths=**}{
    	allow read;
      match /users/{userId}/work-images/{workId}/{fileName}{
      	allow write;
        allow delete;
      }
    } 
  }
}