.tiptap {
  min-height: 80vh;
}

.tiptap:focus-visible {
  outline: none;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap p {
  line-height: 1.8;
}

.tiptap h1,
.tiptap h2 {
  border-bottom: 2px solid #e9ecef;
}

.tiptap h1 {
  font-size: clamp(1.4rem, calc(1.2rem + 0.625vw), 2rem);
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}

.tiptap h2 {
  font-size: clamp(1.2rem, calc(1.1rem + 0.625vw), 1.7rem);
  margin-top: 3rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.tiptap h3 {
  font-size: clamp(1.1rem, calc(1rem + 0.625vw), 1.2rem);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
